
{% extends 'base.html' %}



{% load render_table from django_tables2 %}

{% block content %}

<body>
    <h2>Available Ingredients:</h2>
    {% render_table table_data %}
    
</body>

{% endblock %}



{% comment %} 
<body>
    <table align='center'>  {% endcomment %}
        
        
        {% comment %}         
        {% for row in table_data %}
        <tr align='center'>
            {% for value in row %}
            <td>
                {% row %}
            </td>
        {% endfor %} 
        {% endcomment %}
{% comment %} 
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Ingredient</th>
                <th scope='col'>Quantity</th>
                <th scope='col'>Units</th>
                <th scope='col'>Price per unit</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ object_list.name }}</td>
                <td>{{ object_list.quantity }}</td>
                <td>{{ object_list.unit }}</td>
                <td>{{ object_list.unit_price }}</td>
            </tr>
            {% endfor %}
        </tbody> 

    </table>
</body>  {% endcomment %}

