{% extends 'base.html' %}

{% block content %}

<h2>Totals</h2>
<div style="color: green;">Revenue: ${{ revenue.dirty_income|stringformat:".2f" }}</div>
<div style="color: red;">Cost: ${{ revenue.menu_ingredients_price|stringformat:".2f" }}</div>
<div style="color: blue;">Profit: ${{ revenue.profit|stringformat:".2f" }}</div>
    {% if revenue.profit < 0 %}
        <div style="font-style: italic; color: red;">Things look blue. Maybe it's time to close (<strong>or reconsider the prices</strong>)?..</div>
    {% endif %}
</p>
<hr>
{% if purchase_list %}
    <table border='0'>
        <thead>
            <tr>
                <th>#</th>
                <th>Menu Item</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ purchase.menu_item }}</td>
                <td>${{ purchase.menu_item.price }}</td>
                <td>{{ purchase.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>Nothing was sold yet</h3>
{% endif %}

{% endblock %}