
{% extends 'base.html' %}

{% block content %}

<h1>Zalupa</h1>

<div><p>menu_item: {{ menu_item }}</p></div>
<hr>
<div><p>recipe_req: {{ recipe_req }}</p></div>
<hr>

{% for req in recipe_req %}
    <p>RecipeRequirements records:</p>
    <p>Recipe Requirement ID: {{ req.id }}</p>
    <p>MenuItem ID: {{ req.menu_item_id }}</p>
    <p>Ingredient ID: {{ req.ingredient_id }}</p>
    <p>Required ingredient's quantity: {{ req.quantity }}</p>
    <hr>
{% endfor %}

<p>{{ recipe_req.0 }}</p>
<p>{{ first_req }}</p>
<hr>

{% if recipe_req.0 == first_req %}
    Equals
{% endif %}
<hr>

<p>{{ fr_id }}</p>
<p>{{ fr_menu }}</p>
<p>{{ fr_ingr }}</p>
<hr>
{% endblock %}