
{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Update an Ingredient</h1>

    <form action="updateingredient/{{ upd_ingredient.id }}" method="POST">
    {% csrf_token %}
        Ingredient Name:<br>
        <input name='name' value='{{ upd_ingredient.name }}'>
        <br><br>
        Ingredient Quantity:<br>
        <input name='quantity' value='{{ upd_ingredient.quantity }}'>
        <br><br>
        Units:<br>
        <input name='units' value='{{ upd_ingredient.units }}'>
        <br><br>
        Price per Unit:<br>
        <input name='unit_price' value='{{ upd_ingredient.unit_price }}'>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}