<!-- djangodelights/inventory/templates/base.html -->
<!-- Base template -->
<!doctype html>
<html lang="en">

{% comment %}{% load static %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}"> {% endcomment %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>
    {% comment %} <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> {% endcomment %}
    <title>Django Delights</title>
</head>

<body>
    <div>
        {% comment %}
        <h3 onclick="location.href='{% url "index" %}'">
            Go to Main Page
        </h3>
        {% endcomment %}
        <a href='{% url "index" %}'>Go to Main Page</a>
    </div>
    <div>
        {% block content %}

        {% endblock %}
    </div>
    <div>
        <a href='{% url 'index' %}'>Back to the Main Page</a>
    </div>
</body>

</html>