<!-- djangodelights/inventory/templates/base.html -->
<!-- Base template -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{% block title %}Django Delights{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>



{% comment %} 
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django Delights</title>
</head> 
{% endcomment %}

{% comment %} 
<body>
    <div>
        <a href='{% url "index" %}'>Go to Main Page</a>
    </div>
    <div>
        {% block content %}

        {% endblock %}
    </div>
    <div>
        <a href='{% url 'index' %}'>Back to the Main Page</a>
    </div>
</body> {% endcomment %}



<body>
    <div class="app">
    <header>
        <div class="header-first-row">
            <h1 class="title">Django Delights<h1>
            {% comment %} {% if user.is_autenticated %} {% endcomment %}
            <a class="logout" href="/logout">Logout</a>
            {% comment %} {% endif %} {% endcomment %}
        </div>
        {% comment %} {% if user.is_autenticated %}
        <p>Hi, {{ user.username }}!</p> {% endcomment %}
        <nav class="navbar">
            {% url 'index' as index_url %}
            {% url 'menu' as menu_url %}
            {% url 'table' as ingredients_url %}
            {% url 'purchase-view' as reports_url %}
            <a class="nav-item{% if request.path == index_url %} current-page{% endif %}" href="{% url 'index' %}">Home</a>
            <a class="nav-item{% if request.path == menu_url %} current-page{% endif %}" href="{% url 'menu' %}">Menu</a>
            <a class="nav-item{% if request.path == ingredients_url %} current-page{% endif %}" href="{% url 'table' %}">Ingredients List</a>
            <a class="nav-item{% if request.path == reports_url %} current-page{% endif %}" href="{% url 'purchase-view' %}">Report</a>
        </nav>
        {% comment %} {% endif %} {% endcomment %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    </div>
</body>
</html>